body{
    background-color: #00253f; /*FONDO BODY*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  .toggle {
    background-color: white; /*CIRCULO BOTON CENTRAL*/
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  .fa-plus{
    color: black; /* CRUZ CENTRAL*/
    display: block;
    margin-top: 20px;
    transition: 0.7s;
  }
  
  .menu {
    /* background-color: #4e4e4e; FONDO MENU CIRCULAR */
    background-color: rgb(136, 136, 136);
    height: 100px;
    width: 100px;
    transform: scale(0);
    border-radius: 50%;
    border-style: double;
    border-color: #418a1f; /*LINEAS BORDE*/
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
  }
  
  a {
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: rgb(138, 39, 0);
  }
  
  a:nth-child(1){
    top: 6px;
    left: 45px;
  }
  
  a:nth-child(2){
    top: 24px;
    left: 77px;
  }
  
  a:nth-child(3){
    top: 58px;
    left: 76px;
  }
  
  a:nth-child(4){
    top: 78px;
    left: 42px;
  }
  
  a:nth-child(5){
    top: 58px;
    left: 10px;
  }
  
  a:nth-child(6){
    top: 23px;
    left: 12px;
  }
  
  a:hover {
    color: #c87f8a;
  }
  

  #plus{
    font-size: 65px;
  }