.btn-group .button {
    background-color: rgb(38, 73, 170); /* Green */
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    display: block;

  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
    margin: 10px 0px 10px 0px;
  }
  
  .btn-group .button:hover {
    background-color: #5a6ddb;
  }