{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Mapa</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <link rel="stylesheet" href="{% static 'css/map.css'%}">
    </head>


    <body>
        
        <div>
            <h1>INFORMACION</h1>
            
            <h3>Sinapsis ID: {{contexto.sinapsis_id}}</h3>
            <h3>Coordenadas: {{contexto.coordenadas}}</h3>
            <h3>Internet: {{contexto.internet}}</h3>
            <h3>Consumo de Procesamiento {{contexto.cpu}}%</h3>


        </div>        

    </body>
</html>