{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Mapa</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'leaflet/leaflet.css'%}">
        <link rel="stylesheet" href="{% static 'css/map.css'%}">
    </head>


    <body>
        
        <div class="mapstyle" id="mapid" style="width: 100vw; height: 100vh;"></div>
        
        
        <script type="text/javascript">
            var status = '{{status}}'
            
            if (status!=0){
                var lat = '{{lat}}';
                var lng = '{{lng}}';
                var zoom = 18
                
            }else{
                var lat = 10.4764;
                var lng = -66.8421;
                var zoom = 11
                // alert('GPS No disponible')
            }
            
        </script>
      
      
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

      <script src="{% static 'leaflet/leaflet.js' %}"></script>

      <script src="{% static 'js/map.js' %}"></script>
        

    </body>
</html>