{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">

    <title>Document</title>
</head>
<body>

        <div class="toggle" id="toggle" onclick="menu-expand()">
                <i class="fa fa-plus" id="plus"></i>
                  </div>
                <div class="menu" id="menu">
                  <a href="{% url 'screen:map_view' %}">
                    <i class="fa fa-street-view"></i>
                  </a>
                   <a href="{% url 'screen:info_view' %}">
                    <i class="fa fa-info-circle"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-video-camera"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-envelope"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-camera"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-bell"></i>
                  </a>
                </div>
                
<script src="{% static 'js/menu.js' %}"></script>
  
</body>
</html>