{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/networks.css' %}" rel="stylesheet" media="screen">

    <title>Document</title>
</head>
<body>
        <form method="post" name="form" enctype="multipart/form-data" action="{% url 'screen:connect_view' %}">
            <div class="btn-group">
                {% for n in networks%}
                    <input type="submit" class="button" name="wifi" value="{{n}}">
                {% endfor %}
            </div>
        </form>
                
  
</body>
</html>